In [1]:
import pandas as pd
import numpy as np

## Loading Dataframe

In [2]:
path = r'C:\Users\Umadevi Hiremath\Downloads\MapUp-Data-Assessment-F-main\datasets\dataset-1.csv'
dataframe = pd.read_csv(path)

In [3]:
dataframe.head()

   id_1  id_2  route   moto    car     rv   bus  truck
0   829   827      1   2.05   4.14   4.14  10.1   15.2
1   829   821      4   6.63  13.26  13.26  32.4   48.5
2   829   804      7  14.41  28.92  28.92  64.7   97.0
3   829   822      6   5.90  11.81  11.81  28.8   43.2
4   829   826      9   2.87   5.81   5.81  14.2   21.2

In [4]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id_1    341 non-null    int64
 1   id_2    341 non-null    int64
 2   route   341 non-null    int64
 3   moto    341 non-null    float64
 4   car     341 non-null    float64
 5   rv      341 non-null    float64
 6   bus     341 non-null    float64
 7   truck   341 non-null    float64
dtypes: float64(5), int64(3)
memory usage: 21.4 KB

## Question 1: Car Matrix Generation

In [5]:
def generate_car_matrix(dataframe):
    id_1 = dataframe['id_1'].unique()
    id_2 = dataframe['id_2'].unique()
    id_1.sort()
    id_2.sort()
    new_dataframe = pd.DataFrame(data=None,index=id_1,columns=id_2)
    for i in range(len(dataframe)):
        id1 = dataframe.iloc[i].id_1
        id2 = dataframe.iloc[i].id_2
        car = dataframe.iloc[i].car
        new_dataframe.at[id1,id2] = car
    for i in range(len(new_dataframe)):
        new_dataframe.iat[i,i]=0.0
    return(new_dataframe)

In [6]:
generate_car_matrix(dataframe)

,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
801,0.0,2.8,6.0,7.7,11.7,13.4,16.9,19.6,21.0,23.52,24.67,26.53,27.92,29.08,30.87,32.53,36.32,38.27,39.24
802,2.8,0.0,3.4,5.2,9.2,10.9,14.3,17.1,18.5,20.92,22.07,23.93,25.32,26.48,28.27,29.93,33.72,35.67,36.64
803,6.0,3.4,0.0,2.0,6.0,7.7,11.1,13.9,15.3,17.72,18.87,20.73,22.12,23.28,25.07,26.73,30.52,32.47,33.44
804,7.7,5.2,2.0,0.0,4.4,6.1,9.5,12.3,13.7,16.12,17.27,19.13,20.52,21.68,23.47,25.13,28.92,30.87,31.84
805,11.7,9.2,6.0,4.4,0.0,2.0,5.4,8.2,9.6,12.02,13.17,15.03,16.42,17.58,19.37,21.03,24.82,26.77,27.74
806,13.4,10.9,7.7,6.1,2.0,0.0,3.8,6.6,8.0,10.42,11.57,13.43,14.82,15.98,17.77,19.43,23.22,25.17,26.14
807,16.9,14.3,11.1,9.5,5.4,3.8,0.0,2.9,4.3,6.82,7.97,9.83,11.22,12.38,14.17,15.83,19.62,21.57,22.54
808,19.6,17.1,13.9,12.3,8.2,6.6,2.9,0.0,1.7,4.12,5.27,7.13,8.52,9.68,11.47,13.13,16.92,18.87,19.84
809,21.0,18.5,15.3,13.7,9.6,8.0,4.3,1.7,0.0,2.92,4.07,5.93,7.32,8.48,10.27,11.93,15.72,17.67,18.64
821,23.52,20.92,17.72,16.12,12.02,10.42,6.82,4.12,2.92,0.0,1.8,3.67,5.06,6.22,8.01,9.43,13.26,15.17,16.15
822,24.67,22.07,18.87,17.27,13.17,11.57,7.97,5.27,4.07,1.8,0.0,2.21,3.6,4.76,6.55,8.0,11.81,13.74,14.68
823,26.53,23.93,20.73,19.13,15.03,13.43,9.83,7.13,5.93,3.67,2.21,0.0,1.79,2.94,4.74,6.15,10.0,11.89,12.87
824,27.92,25.32,22.12,20.52,16.42,7.8,11.22,8.52,7.32,5.06,3.6,1.79,0.0,1.71,3.5,4.92,8.77,10.66,11.64
825,29.08,26.48,23.28,21.68,17.58,15.98,12.38,9.68,8.48,6.22,4.76,2.94,1.71,0.0,2.2,3.65,7.46,9.35,10.33
826,30.87,28.27,25.07,23.47,19.37,17.77,14.17,11.47,10.27,8.01,6.55,4.74,3.5,2.2,0.0,2.05,5.81,7.71,8.69
827,32.53,29.93,26.73,25.13,21.03,19.43,15.83,13.13,11.93,9.43,8.0,6.15,4.92,3.65,2.05,0.0,4.14,6.06,7.04
829,36.32,33.72,30.52,28.92,24.82,23.22,19.62,16.92,15.72,13.26,11.81,10.0,21.4,7.46,5.81,4.14,0.0,2.38,3.36
830,38.27,35.67,32.47,30.87,26.77,25.17,21.57,18.87,17.67,15.17,13.74,11.89,10.66,NaN,7.71,6.06,2.38,0.0,1.39
831,39.24,36.64,33.44,31.84,27.74,26.14,22.54,19.84,18.64,16.15,14.68,12.87,11.64,10.33,8.69,7.04,3.36,1.39,0.0

## Question 2: Car Type Count Calculation

In [7]:
def get_type_count(dataframe):
    dataframe['car_type'] = 'Unknown'
    dataframe.loc[dataframe['car'] <=15,'car_type'] = 'low'
    dataframe.loc[(dataframe['car']>15) & (dataframe['car']<=25),'car_type'] = 'medium'
    dataframe.loc[dataframe['car']>25,'car_type'] = 'high'
    car_types = dataframe['car_type'].value_counts()
    car_types_dictionary = dict(car_types)
    keys = list(car_types_dictionary.keys())
    keys.sort()
    sorted_car_types = {i:car_types_dictionary[i] for i in keys}
    return(sorted_car_types)

In [8]:
get_type_count(dataframe)

{'high': 56, 'low': 196, 'medium': 89}

## Question 3: Bus Count Index Retrieval

In [9]:
def get_bus_indexes(dataframe):
    mean_bus_value = dataframe['bus'].mean()
    twice_mean_bus_value = 2*mean_bus_value
    bus_value_indexes = dataframe.index[dataframe['bus'] > twice_mean_bus_value].tolist()
    return(bus_value_indexes)

In [20]:
get_bus_indexes(dataframe)

[2,
 7,
 12,
 17,
 25,
 30,
 54,
 64,
 70,
 97,
 144,
 145,
 149,
 154,
 160,
 201,
 206,
 210,
 215,
 234,
 235,
 245,
 250,
 309,
 314,
 319,
 322,
 323,
 334,
 340]

## Question 4: Route Filtering

In [10]:
def filter_routes(dataframe):
    average_truck_value = dataframe['truck'].mean()
    filtered_routes = dataframe[dataframe['truck'] > average_truck_value]
    routes = filtered_routes['route'].tolist()
    routes.sort()
    return(routes)

In [11]:
filter_routes(dataframe)

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10]

## Question 5: Matrix Value Modification

In [12]:
def multiply_matrix(matrix_dataframe):
    for i in range(len(matrix_dataframe)):
        
        for j in range(len(matrix_dataframe)):
            value_frame = matrix_dataframe.iat[i,j]
            if(value_frame > 20):
                value_frame*=0.75
            else:
                value_frame*=1.25
            value_frame_rounded = round(value_frame,1)
            matrix_dataframe.iat[i,j] = value_frame_rounded
    return(matrix_dataframe)

In [13]:
car_matrix = generate_car_matrix(dataframe)
multiply_matrix(car_matrix)

,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
801,0.0,3.5,7.5,9.6,14.6,16.8,21.1,24.5,15.8,17.6,18.5,19.9,20.9,21.8,23.2,24.4,27.2,28.7,29.4
802,3.5,0.0,4.2,6.5,11.5,13.6,17.9,21.4,23.1,15.7,16.6,17.9,19.0,19.9,21.2,22.4,25.3,26.8,27.5
803,7.5,4.2,0.0,2.5,7.5,9.6,13.9,17.4,19.1,22.2,23.6,15.5,16.6,17.5,18.8,20.0,22.9,24.4,25.1
804,9.6,6.5,2.5,0.0,5.5,7.6,11.9,15.4,17.1,20.2,21.6,23.9,15.4,16.3,17.6,18.8,21.7,23.2,23.9
805,14.6,11.5,7.5,5.5,0.0,2.5,6.8,10.2,12.0,15.0,16.5,18.8,20.5,22.0,24.2,15.8,18.6,20.1,20.8
806,16.8,13.6,9.6,7.6,2.5,0.0,4.8,8.2,10.0,13.0,14.5,16.8,18.5,20.0,22.2,24.3,17.4,18.9,19.6
807,21.1,17.9,13.9,11.9,6.8,4.8,0.0,3.6,5.4,8.5,10.0,12.3,14.0,15.5,17.7,19.8,24.5,16.2,16.9
808,24.5,21.4,17.4,15.4,10.2,8.2,3.6,0.0,2.1,5.2,6.6,8.9,10.6,12.1,14.3,16.4,21.2,23.6,24.8
809,15.8,23.1,19.1,17.1,12.0,10.0,5.4,2.1,0.0,3.6,5.1,7.4,9.2,10.6,12.8,14.9,19.7,22.1,23.3
821,17.6,15.7,22.2,20.2,15.0,13.0,8.5,5.2,3.6,0.0,2.2,4.6,6.3,7.8,10.0,11.8,16.6,19.0,20.2
822,18.5,16.6,23.6,21.6,16.5,14.5,10.0,6.6,5.1,2.2,0.0,2.8,4.5,5.9,8.2,10.0,14.8,17.2,18.4
823,19.9,17.9,15.5,23.9,18.8,16.8,12.3,8.9,7.4,4.6,2.8,0.0,2.2,3.7,5.9,7.7,12.5,14.9,16.1
824,20.9,19.0,16.6,15.4,20.5,9.8,14.0,10.6,9.2,6.3,4.5,2.2,0.0,2.1,4.4,6.2,11.0,13.3,14.6
825,21.8,19.9,17.5,16.3,22.0,20.0,15.5,12.1,10.6,7.8,5.9,3.7,2.1,0.0,2.8,4.6,9.3,11.7,12.9
826,23.2,21.2,18.8,17.6,24.2,22.2,17.7,14.3,12.8,10.0,8.2,5.9,4.4,2.8,0.0,2.6,7.3,9.6,10.9
827,24.4,22.4,20.0,18.8,15.8,24.3,19.8,16.4,14.9,11.8,10.0,7.7,6.2,4.6,2.6,0.0,5.2,7.6,8.8
829,27.2,25.3,22.9,21.7,18.6,17.4,24.5,21.2,19.7,16.6,14.8,12.5,16.0,9.3,7.3,5.2,0.0,3.0,4.2
830,28.7,26.8,24.4,23.2,20.1,18.9,16.2,23.6,22.1,19.0,17.2,14.9,13.3,NaN,9.6,7.6,3.0,0.0,1.7
831,29.4,27.5,25.1,23.9,20.8,19.6,16.9,24.8,23.3,20.2,18.4,16.1,14.6,12.9,10.9,8.8,4.2,1.7,0.0

In [14]:
path_2 = r'C:\Users\Umadevi Hiremath\Downloads\MapUp-Data-Assessment-F-main\datasets\dataset-2.csv'
dataframe_2 = pd.read_csv(path_2)

In [15]:
dataframe_2.head()

,id,name,id_2,startDay,startTime,endDay,endTime,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,1040000,Montgomery,-1,Monday,05:00:00,Wednesday,10:00:00,3.0,3.0,-1.0,-1,3,3,3,3
1,1040010,Black,-1,Monday,10:00:00,Friday,15:00:00,6.0,6.0,-1.0,-1,6,6,6,6
2,1040020,Emerald,-1,Thursday,15:00:00,Friday,19:00:00,3.0,3.0,-1.0,-1,3,3,3,3
3,1040030,Foley,-1,Monday,19:00:00,Friday,23:59:59,6.0,6.0,-1.0,-1,6,6,6,6
4,1050000,Whittier,1050001,Saturday,00:00:00,Sunday,23:59:59,6.0,6.0,NaN,-1,6,6,6,6

In [16]:
dataframe_2.shape

(39514, 15)

In [17]:
dataframe_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39514 entries, 0 to 39513
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         39514 non-null  int64
 1   name       39514 non-null  object
 2   id_2       39514 non-null  int64
 3   startDay   39514 non-null  object
 4   startTime  39514 non-null  object
 5   endDay     39514 non-null  object
 6   endTime    39514 non-null  object
 7   able2Hov2  37708 non-null  float64
 8   able2Hov3  37709 non-null  float64
 9   able3Hov2  37709 non-null  float64
 10  able3Hov3  39514 non-null  int64
 11  able5Hov2  39514 non-null  int64
 12  able5Hov3  39514 non-null  int64
 13  able4Hov2  39514 non-null  int64
 14  able4Hov3  39514 non-null  int64
dtypes: float64(3), int64(7), object(5)
memory usage: 4.5+ MB

## Question 6: Time Check

In [18]:
def time_check(dataframe):
    weekday_number = {'Monday':0,'Tuesday':1,'Wednesday':2,'Thursday':3,'Friday':4,'Saturday':5,'Sunday':6}
    dataframe['startDay_number'] = dataframe['startDay'].map(weekday_number)
    dataframe['endDay_number'] = dataframe['endDay'].map(weekday_number)
    dataframe['valid_timestamp'] = (dataframe['startTime'] < dataframe['endTime']) & (dataframe['startDay_number'] < dataframe['endDay_number'])
    arrays = [np.array(dataframe['id']),np.array(dataframe['id_2'])]
    s = pd.Series(data=dataframe['valid_timestamp'],index=arrays)
    for i in range(len(s)):
        s.iloc[i] = True
    return(s)

In [19]:
time_check(dataframe_2)

1040000  -1          True
1040010  -1          True
1040020  -1          True
1040030  -1          True
1050000   1050001    True
                     ...
1031012   1031030    True
          1031032    True
1031014   1031016    True
          1031018    True
          1031020    True
Name: valid_timestamp, Length: 39514, dtype: object